<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- IE 浏览器运行最新渲染模式(win10, IE 10) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 浏览器运行高速模式, 针对国内所谓的双核浏览器 -->
    <meta name="renderer" content="webkit">
    <!-- 兼容移动设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="http://oyogbl12f.bkt.clouddn.com/favicon.ico" type="image/x-icon">
    <title>自定义策略</title>
    <link rel="stylesheet" href="/followorder/styles/measuring_products.css">
</head>
<body>
<div class="measuring-products">
    <div class="steps">
        <p class="steps-panal">
            <span class="circle act-circle act-circle-one"> &nbsp;</span>
            <i class="line act-line"></i>
            <span class="circle act-circle">2</span>
            <i class="line act-line"></i>
            <span class="circle act-circle">3</span>
        </p>
        <p class="text-panal">
            <b class="text-context-left act-text">选择产品</b>
            <b class="text-context-center act-text">测量产品</b>
            <b class="text-context-right act-text">完成</b>
        </p>
    </div>
    <div class="parameter">
        <div class="module-title-panel">
            <div class="module-title">AI信号阈值提醒<button class="btn" onclick="addDiv()">+添加阈值</button></div>
            <div class="threshold">
                <p>
                    <input type="text" placeholder="-0.8" value="-0.8" class="min">
                    <span><</span>
                    <span class="none-padding">,</span>
                    <input type="text" placeholder="0.8" value="0.8" class="max">
                    <span>></span>
                </p>
            </div>
        </div>
    </div>
    <form action="" method="post">

    </form>
    <div class="bottomgroup">
        <button class="btn-long" onclick="finish()">生成策略</button>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    function addDiv() {
        let p = `<p>
                    <input type="text" placeholder="-0.8" value="-0.8" class="min">
                    <span><</span>
                    <span class="none-padding">,</span>
                    <input type="text" placeholder="0.8" value="0.8" class="max">
                    <span>></span>
                </p>`
        $('.threshold').append(p)
    }
    function finish() {
        let chooseArr = JSON.parse(localStorage.getItem("data"));
        let min = $('.threshold').find('.min');
        let max = $('.threshold').find('.max');
        for (let i = 0;i < min.length; i++){
            let indexs ={};
            let minNode = $(min[i]);
            let val = minNode.val();
            if (val) {
                indexs = {
                    "symbol": '<',
                    "value": val
                };
            }
            console.log(indexs)
            chooseArr['threshold'].push(indexs);
            localStorage.setItem("data",JSON.stringify(chooseArr));
        }
        for (let i = 0;i < max.length; i++){
            let indexs ={};
            let maxNode = $(max[i]);
            let val = maxNode.val();
            if (val) {
                indexs = {
                    "symbol": '>',
                    "value": val
                };
            }
            console.log(indexs)
            chooseArr['threshold'].push(indexs);
            localStorage.setItem("data",JSON.stringify(chooseArr));
        }
        console.log(chooseArr)
        $.post("/followorder/seniormember/return_strategy_loading",{message:JSON.stringify(chooseArr)},function(res){
            console.log(res)
            if (res.code === 1) {
                location.href = '/followorder/seniormember/return_loading';
                localStorage.removeItem("data");
            }
        });
    }
</script>
</body>
</html>