<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <!-- IE 浏览器运行最新渲染模式(win10, IE 10) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 浏览器运行高速模式, 针对国内所谓的双核浏览器 -->
  <meta name="renderer" content="webkit">
  <!-- 兼容移动设备 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="http://oyogbl12f.bkt.clouddn.com/favicon.ico" type="image/x-icon">
  <title>采购明细</title>
  <link rel="stylesheet" href="/followorder/styles/proxy_buy_detail.css">
</head>
<body>

<div class="psd">
  <div class="brokerage-wrapper">
    <div>累计采购金额</div>
    <div>{{ allSale }}元</div>
  </div>
  {{each data}}
  <div class="psd-row">
    <div>
      <span>{{ $value._id.toHexString() }}</span><br>
      <span class="join-time">{{ formatDate($value.create_time) }}&emsp;{{ cardInfo($value.cards) }}</span>
    </div>
    <div class="tar">
      <span>{{ $value.money }}</span><br>
      <span class="type">&nbsp;</span>
    </div>
  </div>
  {{/each}}
</div>
</body>
</html>