<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <!-- IE 浏览器运行最新渲染模式(win10, IE 10) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 浏览器运行高速模式, 针对国内所谓的双核浏览器 -->
  <meta name="renderer" content="webkit">
  <!-- 兼容移动设备 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="http://oyogbl12f.bkt.clouddn.com/favicon.ico" type="image/x-icon">
  <title>采购</title>
  <link rel="stylesheet" href="/followorder/styles/proxy_buy.css">
</head>
<body class="proxy-buy">
{{each list}}
<div class="module-title-panel module-item-title">
  <div class="module-title">{{ $value.text }}</div>
</div>
{{set $pindex = $index}}
<div class="list-panel">
  {{each $value.cards }}
  <div class="list-item-panel">
    <div class="item-row1">
      <div class="card-info-group">{{ $value.name }}</div>
      <div>
        <button class="btn oper-btn" data-operate="card{{ $pindex }}{{ $index }}-0">&minus;</button>
        <input id="card{{ $pindex }}{{ $index }}"  type="number" min="0" class="count-input" value="0" data-id="{{ $value._id }}" data-name="{{ $value.name }}">
        <button class="btn oper-btn" data-operate="card{{ $pindex }}{{ $index }}-1">+</button>
      </div>
    </div>
    <div class="item-row2">
      <div class="selled">已售{{ $value.sold_quantity }}张</div>
      <div>￥<span id="card{{ $pindex }}{{ $index }}Per" class="card-price">{{ $value.proxy_price }}</span></div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
<div class="bottom-group">
  <div class="all-amount-group"  style="color:#e3b157">￥<span id="all-price">0</span></div>
  <div>
    <button class="btn pay-btn">立即支付</button>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/followorder/js/har.min.js"></script>
<script>
    var smallMoney = {{ smallMoney }}; // 最小采购金额
</script>
<script src="/followorder/js/proxy_buy.js"></script>
</body>
</html>