<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <!-- IE 浏览器运行最新渲染模式(win10, IE 10) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 浏览器运行高速模式, 针对国内所谓的双核浏览器 -->
  <meta name="renderer" content="webkit">
  <!-- 兼容移动设备 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="http://oyogbl12f.bkt.clouddn.com/favicon.ico" type="image/x-icon">
  <title>我的库存</title>
  <link rel="stylesheet" href="/followorder/styles/proxy_stock.css">
</head>
<body class="stock">

  <div class="top">
    <div>库存总数&nbsp;:</div>
    <div>{{ allMonth || 0 }}张</div>
  </div>

  {{each list}}
  <div class="module-title-panel">
    <div class="module-sign"></div>
    <div class="module-title">{{ $value.text }}</div>
  </div>
  <div class="stock-list">
    {{each $value.cards }}
    <div class="arrow-panel stock-item" onclick="cardDetail('{{ $value._id }}', {{ $value.quantity || 0 }});">
      <div class="title">{{ $value.name }}</div>
      <div class="arrow-between-right">{{ $value.quantity || 0 }}张</div>
    </div>
    {{/each}}
  </div>
  {{/each}}

  <script>
    function cardDetail(id, stock) {
      if(stock > 0) {
        location.href = '/followorder/proxy/returnCarddetail?_id=' + id;
      }
    }
  </script>
</body>
</html>