<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <!-- IE 浏览器运行最新渲染模式(win10, IE 10) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 浏览器运行高速模式, 针对国内所谓的双核浏览器 -->
  <meta name="renderer" content="webkit">
  <!-- 兼容移动设备 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="http://oyogbl12f.bkt.clouddn.com/favicon.ico" type="image/x-icon">
  <title>策略喊单</title>
  <link rel="stylesheet" href="/followorder/styles/strategy_call_order.css">
</head>
<body class="call-order">
  {{if (vip === 1)}}
    {{each order}}
    {{set pd = processDate($value.time)}}
    <div class="call-item{{if ($index === 0)}} near-item{{/if}}">
      <div class="date{{if (pd.hidden)}} hidden{{/if}}">{{ pd.date }}</div>
      <div class="time-tag time-line"></div>
      <div class="call-info">
        <div class="title-info">
          {{ pd.time }}&emsp;
          <span class="title">{{ four($value.direction) }}</span>
        </div>
        <p class="info">策略名称：</p>
		<p class="info">{{ $value.name }}</p>
        <p class="info">交易品种：{{ $value.symbol }}</p>
        <p class="info">方向：{{ one($value.direction) }}，点位：{{ $value.money }}</p>
      </div>
    </div>
    {{/each}}
    {{if (order && order.length > 0)}}
    <div class="call-item">
      <div class="date hidden">2017-08-12</div>
      <div class="time-tag"></div>
    </div>
    {{/if}}
    {{if (order.length === 0 && type === 0)}}
    <p style="text-align: center">还未订阅任何策略</p>
    {{else if(order.length === 0 && type === 1)}}
	<p style="text-align: center">没有喊单记录</p>
	{{/if}}
  {{else if (vip === 0)}}
  <p style="text-align: center">您还不是会员，不能查看喊单信息！</p>
  {{/if}}
</body>
</html>