<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- IE 浏览器运行最新渲染模式(win10, IE 10) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 浏览器运行高速模式, 针对国内所谓的双核浏览器 -->
    <meta name="renderer" content="webkit">
    <!-- 兼容移动设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="http://oyogbl12f.bkt.clouddn.com/favicon.ico" type="image/x-icon">
    <title>策略生成</title>
    <link rel="stylesheet" href="/followorder/styles/strategy_loading.css">
</head>
<body>
    <div class="strategy_loading">
        <div class="top">策略生成中，请耐心等待...</div>
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
        <div class="progress">
            <div class="bgcolor"></div>
            <div class="progresscolor"></div>
        </div>
        <button class="btn-long" onclick="location.href = '/followorder/seniormember/cancel_training'">取消训练</button>
    </div>
</body>
</html>